.auth {
  display: flex;
  margin-right: 5px;
}

.auth__button {
  width: 60px;
  padding: 15px 0;
  border: none;
  color: white;
  background-color: rgb(32, 54, 66);
  font-size: 12px;
  cursor: pointer;
  border-radius: 2px;
}

.auth__button:nth-of-type(2) {
  border-left: 1px solid rgb(81, 120, 141);
}

.auth__button:focus {
  outline: none;
}

.auth__button:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.auth__login,
.auth__signup {
  color: white;
}

.auth__signup {
  display: flex;
  flex-direction: column;
}
